<body>



    <!-- #header -->
    <div id="imp" hidden>
        <div style="margin:1.41mm">
            <div style="   height: 100%;
            width: 100%;
            margin: 0;
        ">
                <div style="  height: 21.17mm;
                width: 85.85mm;
                margin-left: 30.4mm;
                margin-right: 31.75mm;
                margin-bottom: 3.27mm;
                border-style: double;"> </div>



                <div style=" height: 21.51mm;width: 148.5mm; background-color: green ;text-align: center;">
                    <div class="infoArticle"><label style=" text-align-last: center;
                        margin-left: 9.59mm;
                        font-size: 20pt;
                        font-weight: bold;
                        height: 50px;
                        line-height: 8mm;">{{Ref}}</label></div>
                    <div class="infoArticle"><label style=" text-align-last: center;
                        margin-left: 9.59mm;
                        font-size: 20pt;
                        font-weight: bold;
                        height: 50px;
                        line-height: 8mm;">{{Des}}</label></div>
                </div>
                <div style="   background-color: yellow;
                width: 145.12mm;
                height: 17.1mm;
                margin-bottom: 2.96mm;"></div>
                <div style="height: 8.47mm;width: 142.07mm; background-color: pink;margin-top: 2.96mm; margin-left: 2.96mm;text-align: center;"><label style=" text-align-last: center;
                    margin-left: 9.59mm;
                    font-size: 20pt;
                    font-weight: bold;
                    height: 50px;
                    line-height: 8mm;"> {{CE}}</label></div>
                <div style="height:8.47mm;width: 142.07mm; background-color: pink;margin-top: 2.96mm; margin-left: 2.96mm;text-align: center;"><label style=" text-align-last: center;
                    margin-left: 9.59mm;
                    font-size: 20pt;
                    font-weight: bold;
                    height: 50px;
                    line-height: 8mm;">{{Dim}}</label></div>
                <div style="height: 8.47mm;width: 142.07mm; background-color: pink;margin-top: 3.22mm; margin-left: 2.96mm;text-align: center;"><label style=" text-align-last: center;
                    margin-left: 9.59mm;
                    font-size: 20pt;
                    font-weight: bold;
                    height: 50px;
                    line-height: 8mm;">{{Garantie}}</label></div>
                <div style="height: 8.47mm;width: 142.07mm; background-color: pink;margin-top: 3.47mm; margin-left: 2.96mm;text-align: center;"><label style=" text-align-last: center;
                    margin-left: 9.59mm;
                    font-size: 20pt;
                    font-weight: bold;
                    height: 50px;
                    line-height: 8mm;">{{TypeFrois}}</label></div>
                <div style="height: 8.47mm;width: 142.07mm; background-color: pink;margin-top: 3.22mm; margin-left: 2.96mm;text-align: center;"><label style=" text-align-last: center;
                    margin-left: 9.59mm;
                    font-size: 20pt;
                    font-weight: bold;
                    height: 50px;
                    line-height: 8mm;">{{VolCong}}</label></div>
                <div style="height: 8.47mm;width: 142.07mm; background-color: pink;margin-top: 2.96mm; margin-left: 2.96mm;text-align: center;"><label style=" text-align-last: center;
                    margin-left: 9.59mm;
                    font-size: 20pt;
                    font-weight: bold;
                    height: 50px;
                    line-height: 8mm;">{{VolRefrig}}</label></div>
                <div style="height:8.47mm;width: 142.07mm; background-color: pink;margin-top: 3.22mm; margin-left: 2.96mm;text-align: center;"><label style=" text-align-last: center;
                    margin-left: 9.59mm;
                    font-size: 20pt;
                    font-weight: bold;
                    height: 50px;
                    line-height: 8mm;">{{Cons}}</label></div>
                <div style="height: 8.47mm;width: 142.07mm; background-color: pink;margin-top: 3.47mm; margin-left: 2.96mm;text-align: center;"><label style=" text-align-last: center;
                    margin-left: 9.59mm;
                    font-size: 20pt;
                    font-weight: bold;
                    height: 50px;
                    line-height: 8mm;">{{NbrClay}}</label></div>
                <div style="   height: 20.83mm;
                width: 144.86mm;
                background-color: blue;
                margin-bottom: 3.15mm;">
                    <div style="height: 23.88mm;width: 71.75mm;float: left;margin-top: 5.15mm;margin-left: 3.35mm">
                        <div style="float: left;width: 45mm;font-weight:bold;font-size: 32.5pt"><a style="font-weight:bold;font-size: 28.5pt;margin-left: 7mm">{{PrixConptant}}</a></div>
                        <div style="float: left;margin-top:5mm "><a style="font-weight:bold;font-size: 20.5pt;margin-left: 2mm">Dt</a></div>
                    </div>
                    <div style="height: 23.88mm;width: 69.75mm;float: left;margin-top: 4.15mm">
                    </div>

                </div>
                <div id="yellowArea2">
                    <div style="height: 23.88mm;width: 69.75mm;float: left;">
                        <div style="height: 5mm;width: 69.7mm;"> <label style=" text-align-last: center;
                            margin-left: 9.59mm;
                            font-size: 20pt;
                            font-weight: bold;
                            height: 50px;
                            line-height: 8mm;">{{Ref}}</label></div>
                        <div style="height: 15.9mm;width: 69.7mm;font-weight:bold;"><label style=" text-align-last: center;
                            margin-left: 9.59mm;
                            font-size: 20pt;
                            font-weight: bold;
                            height: 50px;
                            line-height: 8mm;">{{Des}}</label> </div>
                    </div>
                    <div style=" height: 23.88mm;width: 69.75mm;float: left;">
                        <table style="margin-bottom: 8mm;border-collapse: separate;width: 55mm;">
                            <tr>
                                <td width="70%">12 Mois</td>

                                <td>{{Prix12}}</td>
                            </tr>
                            <tr>
                                <td>24 Mois</td>

                                <td>{{Prix24}}</td>

                            </tr>
                            <tr>
                                <td>36 Mois</td>

                                <td>{{prix36}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br>
    <br>
    <br>


    <form class="container form-gradient">

        <div class="form-group">
            <label class="control-label col-sm-2" for="Reference">Réference:</label>
            <input type="text" class="form-control" [(ngModel)]="Ref" name="Ref">

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="des">Désignation:</label>

            <input type="text" class="form-control" name="Des" [(ngModel)]="Des">

        </div>
        <hr color="blue">


        <div class="form-group">
            <label class="control-label col-sm-2" for="des">CLASSE ENERGITIQUE:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="CE" name="CE" placeholder="CLASSE ENERGITIQUE ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="des">DIMENSIONS:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="Dim" name="Dim" placeholder="DIMENSIONS">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="des">GARANTIE:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Garantie" name="Garantie" [(ngModel)]="Garantie" placeholder="GARANTIE">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="des">TYPE FROIS:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="TypeFrois" name="TypeFrois" [(ngModel)]="TypeFrois" placeholder="TYPE FROIS">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="des">VOLUME CONGELATEUR:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="VolCong" name="VolCong" [(ngModel)]="VolCong" placeholder="VOLUME CONGELATEUR">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="des">VOLUME REFRIGERATEUR:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="VolRefrig" name="VolRefrig" [(ngModel)]="VolRefrig" placeholder="VOLUME REFRIGERATEUR">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="des">CONSOMATION KWH/AN:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Cons" name="Cons" [(ngModel)]="Cons" placeholder="CONSOMATION KWH/AN">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="des">NOMBRE DE CLAYETTES:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="NbrClay" name="NbrClay" [(ngModel)]="NbrClay" placeholder="NOMBRE DE CLAYETTES">
            </div>
        </div>
        <hr color="blue">

        <div class="form-group">
            <label class="control-label col-sm-2" for="des">PRIX COMPTANT:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="PrixConptant" name="PrixConptant" [(ngModel)]="PrixConptant" placeholder="PRIX">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="des">Vente a Crédit:</label>
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="Prix12" name="Prix12" [(ngModel)]="Prix12" placeholder="Prix sur 12Mois">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="Prix24" name="Prix24" [(ngModel)]="Prix24" placeholder="Prix sur 24Mois">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="prix36" name="prix36" [(ngModel)]="prix36" placeholder="Prix sur 36Mois">
                </div>
            </div>
        </div>

        <hr color="blue">

        <button class="btn btn-primary" type="button" printTitle="MyTitle" printSectionId="imp" ngxPrint>Print</button>


    </form>

</body>