<body>
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">Ticket</a></h1>

            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-has-children menu-active"><a href="">Ticket Globale</a>
                        <ul>
                            <li><a routerLink="/frg">FRG</a></li>
                            <li><a routerLink="/mal">MAL</a></li>
                            <li><a routerLink="/tv">TV</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/normale">Ticket NORMALE</a></li>
                    <li><a routerLink="/mini">MINI TICKET</a></li>
                </ul>
            </nav>


        </div>
    </header>


    <router-outlet></router-outlet>
</body>